<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin py-5" } ) do |f| %>
  <%= devise_error_messages! %>

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">注册</h1>
  </div>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, required: true, placeholder: "Email", class: "form-control" %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, required: true, placeholder: "密码", class: "form-control" %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, required: true, placeholder: "确认密码", class: "form-control" %>
  </div>

  <%= f.submit "注册", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
