<%= form_with(model: comment) do |form| %>
  <%= form.hidden_field :image_id, value: image.id %>

  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-label-group">
    <% if user_signed_in? %>
      <%= form.text_area :content, class: "form-control" %>
    <% else %>
      <%= form.text_area :content, class: "form-control", disabled: "disabled" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= form.submit "评论", class: "btn btn-primary btn-block" %>
  <% else %>
    <%= link_to "请登陆", new_user_session_path, class: "btn btn-primary btn-block" %>
  <% end %>
<% end %>
