<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin py-5" } ) do |f| %>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">登陆</h1>
  </div>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, required: true, placeholder: "Email", class: "form-control" %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, required: true, placeholder: "密码", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %> 记住登录状态
      </label>
    </div>
  <% end -%>

  <%= f.submit "登陆", class: "btn btn-primary btn-block" %>
<% end %>
