<%= form_with(model: image, local: true, html: { class: "form-signin py-5" } ) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><%= title %></h1>
  </div>

  <div class="form-label-group">
    <%= form.label :title, "标题" %>
    <%= form.text_field :title, autofocus: true, required: true, placeholder: "标题", class: "form-control" %>
  </div>

  <div class="form-label-group">
    <%= form.label :image_type, "类型" %>
    <%= form.enum_select :image_type, {}, { required: true, placeholder: "类型", class: "form-control" } %>
  </div>

  <div class="form-label-group">
    <%= form.label :file, "图片" %>
    <% if image.file_url.present? %>
      <%= form.file_field :file, placeholder: "图片", class: "form-control" %>
    <% else %>
      <%= form.file_field :file, required: true, placeholder: "图片", class: "form-control" %>
    <% end %>
  </div>

  <% if image.file_url.present? %>
    <div class="form-label-group">
      <%= image_tag image.file_url, class: "form-control" %>
    </div>
  <% end %>

  <%= form.submit "提交", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
