<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>眼中</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-white border-bottom">
      <div class="container d-flex flex-column flex-md-row align-items-center p-3 px-md-4">
        <nav class="my-2 my-md-0 mr-md-3 mr-md-auto">
          <%= link_to '眼中（Beta)', root_path, class: "p-2 text-muted" %>
          <%= link_to '绘画', pictures_path, class: "p-2 text-muted" %>
          <%= link_to '照片', photos_path, class: "p-2 text-muted" %>
          <%= link_to '表情', emoticons_path, class: "p-2 text-muted" %>
        </nav>
 
        
        <nav class="my-2 my-md-0 mr-md-3">
          <% if user_signed_in? %>
            <%= link_to "图片管理", images_path, class: "p-2 text-muted" %>
            <%= link_to "发布", new_image_path, class: "p-2 text-muted" %>
          <% else %>
            <%= link_to "注册", new_registration_path(:user), class: "p-2 text-muted" %>
          <% end %>
        </nav>
        
        <% if user_signed_in? %>
          <%= link_to "退出", destroy_user_session_path, class: "btn btn-outline-primary", method: :delete %>
        <% else %>
          <%= link_to "登陆", new_user_session_path, class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </header>

    <main role="main">
      <div class="py-5 bg-light">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </main>

    <footer class="text-muted">
      <div class="container pt-4 my-md-5 pt-md-5 border-top">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>本站在 <a href="https://github.com/tuliang/in-the-eyes" target="_blank" rel="nofollow" title="本站在 GitHub 上面的开源内容">GitHub</a> 上开源</p>
      </div>
    </footer>
  </body>
</html>