<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>眼中</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom">
        <h5 class="logo my-0 mr-md-auto font-weight-normal"><%= link_to '眼中', root_url, class: "text-dark" %></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <%= link_to '绘画', pictures_url, class: "p-2 text-dark" %>
          <a class="p-2 text-dark" href="#">照片</a>
          <a class="p-2 text-dark" href="#">表情</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">登陆</a>
      </div>
    </header>

    <main role="main">

      <%= yield %>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
  </body>
</html>
